[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
djoser = "*"
mysqlclient = "*"
pillow = "*"
drf-nested-routers = "*"
google-generativeai = "*"
django-cors-headers = "*"
redis = "*"
celery = "*"
nltk = "*"
rapidfuzz = "*"

[dev-packages]

[requires]
python_version = "3.13"
